#contact-me {
  margin-bottom: 48px;
  .contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  #contact-me {
    .contact-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
