html,
.canvas {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#home {
  height: calc(100vh);

  .canvas {
    background: linear-gradient(-45deg, #35012c, #a55fc2, #67aaf9, #3454d1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    position: absolute;
    left: 0;
    top: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 426px) {
  #home {
    height: 156px;
    .canvas {
      width: 100%;
      height: 156px;
    }
  }
}
@media screen and (max-width: 375px) {
  #home {
    height: 64px;
    .canvas {
      width: 100%;
      height: 78px;
    }
  }
}
@media screen and (max-width: 321px) {
  #home {
    .canvas {
      width: 100%;
    }
  }
}
