#navbar {
  overflow: hidden;
  background-color: #5d675b;
  position: sticky;
  top: 0;
  border-bottom: 3px solid #67aaf9;
  z-index: 2;

  .selections {
    margin-left: 5%;

    a {
      float: left;
      display: block;
      color: #fafffd;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      cursor: pointer;

      &:focus {
        color: #67aaf9;
      }
    }
  }

  .selections > .active {
    color: #67aaf9;
  }
}

@media screen and (max-width: 426px) {
  #navbar {
    visibility: hidden;
    margin-top: -51px;
    .selections {
      margin-left: 0%;
      a {
        text-decoration: none;
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 376px) {
  #navbar {
    visibility: hidden;
    margin-top: -93px;
    .selections {
      margin-left: 0%;
      a {
        text-decoration: none;
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 321px) {
  #navbar {
    visibility: hidden;
    margin-top: -78px;
    .selections {
      margin-left: 0%;
      a {
        text-decoration: none;
        font-size: 14px;
      }
    }
  }
}
