.card {
  border: 4px solid black;
  width: 20%;
  margin-inline: auto;
  border-radius: 16px;
  margin-bottom: 12px;

  .main-grid-item {
    width: 100%;
    text-align: center;
    background-color: #fafffd;
    border-radius: 16px;
    .proj-img {
      width: 100%;
      border-radius: 12px 12px 0 0;
      object-fit: cover;
    }
  }

  .btn-group {
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
  }
}
