.emailer {
  width: 45%;
  margin-inline: auto;
  text-align: center;

  .email-msg {
    color: #3453d1;
  }

  .email-form {
    width: 100%;
    display: block;

    input {
      font-family: "Raleway", sans-serif;
      font-size: 12pt;
    }
  }
}

@media screen and (max-width: 768px) {
  .emailer {
    margin-top: 12px;

    width: 80%;
  }
}

@media screen and (max-width: 426px) {
  .emailer {
    margin-top: 12px;
    overflow-x: hidden;
    width: 95%;
  }
}
