body {
  background-color: #fafffd;
}

section {
  position: relative;
}

section:nth-of-type(n + 2) {
  margin-top: 32px;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
