.mobile-nav {
  visibility: collapse;
  margin-top: -12px;
  margin-left: -8px;
  position: sticky;
  top: 5%;
  left: 5%;
  width: fit-content;
  height: fit-content;
  padding: 4px;
  border-radius: 28px;
  background-color: #5d675b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.25s ease-in-out;
  z-index: 2;

  &:hover {
    height: fit-content;
    .selections-mobile {
      visibility: visible;
      margin-top: 0px;
      transition-delay: 0s;

      .dropdown-icon {
        visibility: visible;
        transition-delay: 2s;
      }
    }
  }

  .mobile-nav-icon {
    color: #fafffd;
    font-size: 32px;
  }

  .selections-mobile {
    position: relative;
    margin-top: -192px;
    text-align: center;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease-in-out;

    .dropdown-icon {
      visibility: hidden;
    }

    .selections-mobile > .active {
      color: #67aaf9;
    }
  }
}

@media screen and (max-width: 426px) {
  .mobile-nav {
    visibility: visible;
    margin-top: 12px;
    margin-left: 8px;
  }
}
