.mobile-nav {
  visibility: collapse;
  margin-top: -16px;
  margin-left: -8px;
  position: sticky;
  top: 5%;
  left: 5%;
  width: fit-content;
  height: fit-content;
  padding: 4px;
  border-radius: 28px;
  background-color: #5d675b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.25s ease-in-out;
  z-index: 2;

  .mobile-nav-icon {
    color: #fafffd;
    font-size: 32px;
  }

  .selections-mobile {
    position: relative;
    text-align: center;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      .dropdown-icon {
        visibility: collapse;
      }
    }

    .selections-mobile > .active {
      .dropdown-icon {
        color: #67aaf9;
      }
    }
  }

  .hide {
    visibility: collapse;
    margin-top: -192px;
    transition: 0.25s ease-in-out;

    button {
      .dropdown-icon {
        visibility: collapse;
      }
    }
  }

  .show {
    visibility: visible;
    margin-top: 0px;
    transition: 0.25s ease-in-out;

    button {
      .dropdown-icon {
        visibility: visible;
        transition: 0.5s ease-in;
        transition-delay: 0.15s;
      }
    }
  }
}

@media screen and (max-width: 426px) {
  .mobile-nav {
    visibility: visible;
    margin-top: 16px;
    margin-left: 8px;
  }
}
